<div class="mx-auto" style="width: 200px;">
  <h2> Добавить нового пользователя <%= resource_name.to_s.humanize %></h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>В настоящее время ожидает подтверждения для: <%= resource.unconfirmed_email %></div>
  <% end %>

    <br />

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>минимум <%= @minimum_password_length %> символов</em>
    <% end %>
  </div>
    <br />
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
    <br />
  <div class="field">
    <%= f.label :current_password %> <i>(нам нужен текущий пароль, чтобы подтвердить изменения)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
    <br />
    <%= f.submit "Обновить", :class =>'btn btn-outline-success'%>
    <%= button_to "Удалить", registration_path(resource_name), data: { confirm: 'Вы уверены?' }, method: :delete, :class =>'btn btn-outline-danger' %>
<% end %>

<%= link_to "Вернуться", :back%>
</div>


