<div id="<%= dom_id order %>">
  <p>
    <strong>Restaurant:</strong>
    <%= order.restaurant_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= order.count %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Soft delete:</strong>
    <%= order.soft_delete %>
  </p>

</div>
