<tr>
  <th scope="row"><%= product.id %></th>
  <td><%= product.category_id %></td>
  <td><%= Brand.find(product.brand_id).title %></td>
  <td><%= link_to "#{product.title}", product %></td>
  <td><%= product.bytitle %></td>
  <td><%= product.content %></td>
  <td><%= product.price %></td>
  <td><%= product.old_price %></td>
  <td><%= product.keywords %></td>
  <td><%= product.description %></td>
  <td><%= product.img %></td>
  <td><%= button_to "Добавить в корзину", line_items_path(:product_id => product.id) %></td>
</tr>

